# Prepare ecoinvent data 
(calculate IPCC 2013 results and join them with metadata from the Activity Overview file)

In [1]:
import brightway2 as bw
import pandas as pd

DATA_PATH = "../data/"

Using environment variable BRIGHTWAY2_DIR for data directory:
C:\Users\steub\OneDrive - Universiteit Leiden\Brightway3

# Steps in this notebook:

1. Select brightway project and within that project the ecoinvent 3.4 database (cut-off model)
2. Calculate IPCC 2013 results (GWP100a)
3. Load the Activity Overview file and add the LCA results to it.
4. Save the Activity Overview with LCIA results to Excel

## 1. Select brightway project and within that project the ecoinvent 3.4 database (cut-off model)

#### Project

In [2]:
bw.projects

Brightway2 projects manager with 13 objects:
	C4P
	LCA-PR
	MIN-TEA
	Multifunctionality
	default
	ei33
	ei34
	ei35
	ei36
	ei37
	ei38
	test
	video
Use `projects.report()` to get a report on all projects.

In [3]:
bw.projects.set_current('ei34')

#### Database

In [4]:
eidb = bw.Database('ecoinvent 3.4 cutoff')
db = eidb.load()  # the actual data; we need that for the setting the right values in the functional unit

#### Activities

In [5]:
# activities could be filtered here, but we just take the entire database for now
activities = [act.key for act in eidb]
print(len(activities))

14889

#### Functional Units

In [6]:
# production amount for every activity (normally 1, but there are exceptions, e.g. treatment datasets = -1)
functional_units = []  # list of dicts
for act in activities:
    functional_units.append({act: db[act]['production amount']})

In [7]:
functional_units[:2]

[{('ecoinvent 3.4 cutoff', 'a1716ba88fa010623183e091d41f6c7e'): -1.0},
 {('ecoinvent 3.4 cutoff', '061b18e96ecc15ee17944576986f7ee3'): 1.0}]

#### Define LCIA method

In [8]:
method = ('IPCC 2013 as in EXIOBASE', 'climate change', 'GWP 100a')

In [9]:
bw.methods[method]

{'description': 'Climate change assessment consistent with CFs in Exiobase',
 'filename': 'LCIA_methods_for_import.xlsx',
 'unit': 'kg CO2-Eq',
 'abbreviation': 'ipcc-2013-as-in-exiobasecg.b68cffbf8dda29c989c67ff2c7aaedf9',
 'num_cfs': 61}

In [10]:
# one could go deeper here to see the characterization factors like this
#bw.Method(method).load()

# 2. Calculate IPCC 2013 results (GWP100a)

#### Calculation setup

In [11]:
cs_name = "all activities"
bw.calculation_setups[cs_name] = {
    'inv': functional_units,
    'ia': [method]
}

#### Multi-LCA (takes several minutes)

In [12]:
from time import time
start = time()

MLCA = bw.MultiLCA(cs_name)

print(time() - start)

157.3614466190338

# 3. Load the Activity Overview file and add the LCA results to it.

#### LCIA results dataframe

In [13]:
MLCA.results

array([[5.45996822e-03],
       [1.91703397e+00],
       [1.99954821e-02],
       ...,
       [5.12467108e+00],
       [1.28617232e+00],
       [6.21756477e+00]])

In [14]:
df_LCIA = pd.DataFrame(MLCA.results, columns=[method], index=[str(a) for a in activities]).reset_index()
df_LCIA.rename(columns={'index': 'key'}, inplace=True)
print(df_LCIA.shape)
df_LCIA.head()

(14889, 2)

,key,"(IPCC 2013 as in EXIOBASE, climate change, GWP 100a)"
0,"('ecoinvent 3.4 cutoff', 'a1716ba88fa010623183...",0.005460
1,"('ecoinvent 3.4 cutoff', '061b18e96ecc15ee1794...",1.917034
2,"('ecoinvent 3.4 cutoff', 'ac1dc8332fc3e3ef9b54...",0.019995
3,"('ecoinvent 3.4 cutoff', '7f09ea1ef9f039565af1...",0.621921
4,"('ecoinvent 3.4 cutoff', '7ccfd8682007bdd32edd...",0.000000

#### Load the Activity Overview

In [15]:
activity_overview = f"{DATA_PATH}ecoinvent/activity_overview_3.4_cut-off_LCIA_without_results.xlsx"
AO = pd.read_excel(activity_overview)
print(AO.shape)
AO.head(2)

(14889, 35)

,key,#,id,filename,activityName,geography,startDate,endDate,specialActivityType,technologyLevel,...,CPC,amount,unitName,productionVolumeAmount,absolute PV,productionVolumeComment,price,By-product classification,mft,functional unit
0,"('ecoinvent 3.4 cutoff', '0008dcb8309bd0ca4820...",3712,400461dd-45f4-4bcc-8eae-afa68e57664a,400461dd-45f4-4bcc-8eae-afa68e57664a_2966d161-...,market group for heavy fuel oil,RER,2015-01-01,2017-12-31,market group,Current,...,33370: Fuel oils n.e.c.,1,kg,1.019820e+11,True,NaN,0.0000,allocatable product,non-mft,1
1,"('ecoinvent 3.4 cutoff', '001145735c7cee63ae10...",402,0766970d-6c54-497e-b458-2626f56d9e0c,0766970d-6c54-497e-b458-2626f56d9e0c_45fbbc41-...,"treatment of municipal solid waste, incineration",AT,2006-01-01,2017-12-31,ordinary transforming activity,Current,...,17300: Steam and hot water,1,MJ,4.823674e+09,True,NaN,0.0106,allocatable product,non-mft,1

#### Add the LCA results data

In [16]:
#AOr = AO.join(df_LCIA, on='key')
AOr = pd.merge(AO, df_LCIA, on='key')
AOr.head(2)

,key,#,id,filename,activityName,geography,startDate,endDate,specialActivityType,technologyLevel,...,amount,unitName,productionVolumeAmount,absolute PV,productionVolumeComment,price,By-product classification,mft,functional unit,"(IPCC 2013 as in EXIOBASE, climate change, GWP 100a)"
0,"('ecoinvent 3.4 cutoff', '0008dcb8309bd0ca4820...",3712,400461dd-45f4-4bcc-8eae-afa68e57664a,400461dd-45f4-4bcc-8eae-afa68e57664a_2966d161-...,market group for heavy fuel oil,RER,2015-01-01,2017-12-31,market group,Current,...,1,kg,1.019820e+11,True,NaN,0.0000,allocatable product,non-mft,1,0.470319
1,"('ecoinvent 3.4 cutoff', '001145735c7cee63ae10...",402,0766970d-6c54-497e-b458-2626f56d9e0c,0766970d-6c54-497e-b458-2626f56d9e0c_45fbbc41-...,"treatment of municipal solid waste, incineration",AT,2006-01-01,2017-12-31,ordinary transforming activity,Current,...,1,MJ,4.823674e+09,True,NaN,0.0106,allocatable product,non-mft,1,0.000000

#### rename the IPCC column

In [28]:
AOr.rename(columns={('IPCC 2013 as in EXIOBASE', 'climate change', 'GWP 100a'): ('IPCC 2013', 'climate change', 'GWP 100a')}, inplace=True)
AOr.head(2)

,key,#,id,filename,activityName,geography,startDate,endDate,specialActivityType,technologyLevel,...,amount,unitName,productionVolumeAmount,absolute PV,productionVolumeComment,price,By-product classification,mft,functional unit,"(IPCC 2013, climate change, GWP 100a)"
0,"('ecoinvent 3.4 cutoff', '0008dcb8309bd0ca4820...",3712,400461dd-45f4-4bcc-8eae-afa68e57664a,400461dd-45f4-4bcc-8eae-afa68e57664a_2966d161-...,market group for heavy fuel oil,RER,2015-01-01,2017-12-31,market group,Current,...,1,kg,1.019820e+11,True,NaN,0.0000,allocatable product,non-mft,1,0.470319
1,"('ecoinvent 3.4 cutoff', '001145735c7cee63ae10...",402,0766970d-6c54-497e-b458-2626f56d9e0c,0766970d-6c54-497e-b458-2626f56d9e0c_45fbbc41-...,"treatment of municipal solid waste, incineration",AT,2006-01-01,2017-12-31,ordinary transforming activity,Current,...,1,MJ,4.823674e+09,True,NaN,0.0106,allocatable product,non-mft,1,0.000000

# 4. Save the Activity Overview with LCIA results to Excel

In [29]:
AOr.to_excel(f"{DATA_PATH}/ecoinvent/activity_overview_3.4_cut-off_LCIA_results.xlsx", 
                      sheet_name='activity overview')